/* apply a natural box layout model to all elements */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin-bottom: 100px;
  font-size: 16px;
  color: #333;
}
h1 {
  margin-bottom: 30px;
  text-align: center;
}
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
}
#container {
  width: 460px;
  margin: 0 auto;
}
hr {
  margin: 20px 0 30px;
  border: 0;
  border-top: 1px solid #ddd;
}
.translation,
.translation-max {
  position: relative;
  width: 100%;
}
.source,
.target {
  width: 100%;
  min-height: 24px;
  padding: 3px 6px;
  line-height: 24px;
  word-break: break-all;
  word-wrap: break-word;
}
.source {
  margin-bottom: 6px;
}
.target {
  -webkit-appearance: none;
  overflow: hidden;
  white-space: pre-wrap;
  resize: none;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.target:focus {
  border-color: #888;
  outline: none;
}

.maxlength {
  position: absolute;
  right: 2px;
  bottom: 6px;
  padding: 2px 6px;
  font-size: 13px;
  color: #999;
}

.warning {
  background-color: #fdd;
}
.warning.maxlength {
  color: #f77;
  background-color: inherit;
}

.match {
  color: #09f;
}
.hoge {
  color: #4c9;
}
.fuga {
  color: #ff9d00;
}

.matchHighlight {
  background-color: #09f;
  opacity: .6;
}
.hogeHighlight {
  border-bottom: 2px solid #4c9;
  opacity: .6;
}
.fugaHighlight {
  background-color: #ff9d00;
  opacity: .6;
}

.tagsHighlight {
  background-color: #99f;
  opacity: .6;
}

.match.added,
.hoge.added,
.fuga.added {
  color: #999;
}
