/* apply a natural box layout model to all elements */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    color: #333;
    margin-bottom: 100px;
}
h1 {
    text-align: center;
    margin-bottom: 30px;
}
textarea {
    font-family: inherit;
    font-size: inherit;
    margin: 0;
}
#container {
    width: 460px;
    margin: 0 auto;
}
hr {
    margin: 20px 0 30px;
    border: 0;
    border-top: 1px solid #ddd;
}
.translation,
.translation-max {
    width: 100%;
    position: relative;

}
.source,
.target {
    width: 100%;
    min-height: 24px;
    line-height: 24px;
    padding: 3px 6px;
}
.source {
    margin-bottom: 6px;
}
.target {
    overflow: hidden;

    border: 1px solid #ddd;
    border-radius: 3px;
    resize: none;
    height: 100px;

    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
    background-color: #f9f9f9;
}
.target:focus {
    border-color: #888;
    outline: none;
}

.maxlength {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1px 2px;
    padding: 2px 6px;
    font-size: 13px;
    color: #999;
}

.warning { background-color: #fdd; }
.warning.maxlength {
    color: #F77;
    background-color: inherit;
}

.match { color: #09f; }
.hoge { color: #4c9; }
.fuga { color: #ff9d00; }

.matchHighlight { background-color: #09f; opacity: 0.6; }
.hogeHighlight { border-bottom: 2px solid #4c9; opacity: 0.6; }
.fugaHighlight { background-color: #ff9d00; opacity: 0.6; }

.match.added,
.hoge.added,
.fuga.added { color: #999; }

